<% @neural_net.num_layers.times do |l| %>
  <div class="row">
    <!-- Print "Delete" Button -->
    <div class="columns small-1">
      <p>X</p>
    </div>
    <!-- Print Layer -->
    <div class="columns small-10">
      <%= render 'layer' %>
    </div>

    <!-- Print "Add" Button -->
    <div class="columns small-1">
      <p>+</p>
    </div>
  </div>

<% end %>


<div class="row">
  <!-- Print "Delete" Button -->
  <div class="columns small-1">
    <p>X</p>
  </div>

  <!-- Print "Add" Button -->
  <div class="columns small-offset-9 small-1">
    <p>+</p>
  </div>
</div>
