<% @neural_net.num_layers.times do |layer| %>
  <div class="row layer_<%= layer %>">
    <!-- Print "Delete" Button -->
    <div class="columns small-1">
      <p>X</p>
    </div>
    <!-- Print Layer -->
    <div class="columns small-10">
      <%= render partial: 'layer', locals: {layer: layer} %>
    </div>

    <!-- Print "Add" Button -->
    <div class="columns small-1">
      <%= render partial: 'nodes/add_node', locals: {layer: layer} %>
    </div>
    <!-- <div class="columns small-1">
      <p>+</p>
    </div> -->
  </div>

<% end %>

<% layer = @neural_net.num_layers %>

<div class="row">
  <!-- Print "Delete" Button -->
  <div class="columns small-1">
    <p>X</p>
  </div>

  <!-- Print "Add" Button -->
  <div class="columns small-1">
    <%= render partial: 'nodes/add_node', locals: {layer: layer} %>
  </div>

</div>
