<%= form_for @neural_net do |f| %>
  <h5>Train Net</h5>
  <%= f.label :times, "Train X Times:" %>
  <%= f.text_field :times %>
  <%= f.submit "Run Trainings", class: "button round small" %>
<% end %>
