<h2>Existing Neural Nets</h2>
<ul>
  <% @neural_nets.each do |net| %>
    <li>
      <%= link_to "#{net.name ? net.name : "Net #{net.id}"}", neural_net_path(net) %>
    </li>
  <% end %>
</ul>

<div class="row text-center">
  <%= link_to "Build a New Net", new_neural_net_path, class: "button round" %>
</div>
