
<ul>
  <% @neural_nets.each do |net| %>
    <li>
      <%= link_to "#{net.name ? net.name : "Net #{net.id}"}", neural_net_path(net) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create New Net", new_neural_net_path, class: "button round" %>
