<div id="index-buttons">
  <div class="row text-center">
    <a href="/learn">
      <div class="columns medium-3 medium-offset-half panel small-12 option">
        <h4>Learn</h4>
      </div>
    </a>
    <a href="<%= neural_nets_path %>">
      <div class="columns medium-3 medium-offset-1 panel small-12 option">
        <h4>Explore</h4>
      </div>
    </a>
    <a href="<%= new_neural_net_path %>">
      <div class="columns medium-3 medium-offset-1 end panel small-12 option">
        <h4>Build</h4>
      </div>
    </a>
  </div>
</div>
