<div class="banner">
</div>

<div class="post-banner">
  <div class="columns medium-2 large-12 option">
    <h4>Learn</h4>
  </div>
  <div class="columns medium-2 large-12 option">
    <h4>Build</h4>
  </div>
</div>
