<div id="banner">
</div>

<div id="post-banner">
  <div class="row">
    <a href="">
      <div class="columns medium-4 medium-offset-1 panel small-12 option">
        <h4>Learn</h4>
      </div>
    </a>
    <a href="">
      <div class="columns medium-4 medium-offset-2 end panel small-12 option">
        <h4>Build</h4>
      </div>
    </a>
  </div>
</div>
