<h2>What is a neural net?</h2>

<div class="slide">
  <div>
    <p>
      Neural nets are a type of <strong>artifical intelligence program</strong>, designed as a simple
      model for how neurons work.
    </p>
  </div>
  <div>
    <p>
      MORE WORDS
    </p>
  </div>
</div>

<div class="tutorial1">
  <div>
    <%= image_tag "neurons_vs_nodes.jpg" %>
    <p>Neural nets are a type of <strong>artifical intelligence program</strong>, designed as a simple
    model for how neurons work.</p>
  </div>
  <div>
    <%= image_tag "connections.png" %>
    <p>
      Nodes are arranged in layers. Each node is connected to all nodes on the layer below.
      Connections can be different strenghts - some can be very strong, some can be almost nonexistant,
      and some can even be negative, which means the pass negative, inhibatory signal to the child node.
    </p>
  </div>
  <div>
    <%= image_tag "feedforward.jpg" %>
    <p>
      When a node gets activated, it uses its connections to send that output to all of its child nodes
      (nodes on the layer below it). The output gets multiplied by the connection weight, and the resulting
      value gets registered by the child node.
    </p>
    </div>
  <div>
    <%= image_tag "inputs.jpg" %>
    <p>The child node tallies up all of the inputs from its parent nodes, and uses
    that value to determine how much it itself will activate</p>
  </div>
</div>
