<h2>What is a neural net?</h2>

<div class="slide">
  <div>
    <p>
      Neural nets are a type of <strong>artifical intelligence program</strong>, designed as a simple
      model for how neurons work.
    </p>
  </div>
  <div>
    <p>
      MORE WORDS
    </p>
  </div>
</div>

<div class="your-class">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>
