@import url(http://fonts.googleapis.com/css?family=Lato:100,400|Open+Sans:400italic,400,600);

$dark_base_color: #332B40;
$light_base_color: #F7F7F7;
$dark_text_color: #413E44;
$node_purple: #32225D;
$accent_1: #EFE672;
$accent_2: #98A942;
$accent_3: #0574A6;

// ====================
// FOUNDATION OVERRIDES
// ====================

small {
  font-size: 73%;
}

.panel, #container {
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

button:not(.node-edit-button .button), .button:not(.node-edit-button .button) {
  background-color: transparent;
  border: 3px solid $accent_3;
  color: $accent_3;

  &:hover, &:focus, &:hover, &:focus {
    background-color: darken($accent_3, 6%);
    border-color: darken($accent_3, 6%);
  }
}

.medium-offset-half {
  margin-left: 4.1665% !important;
}

// ====================
// BODY & TEXT STYLING
// ====================

body {
  background: $light_base_color;

  &, h1, h2, h3, h4, h5, h6 {
    color: $dark_text_color;
    font-family: Lato;
  }

  &, button, .button,
  .top-bar-section ul li > a {
    font-family: Open Sans;
  }

  a:hover:not(.name h1 a) {
    text-decoration: underline;
  }
}

// ====================
// HEADER
// ====================

$top-bar-height: 65px;

.header-wrapper {
  background-color: black;
}

.top-bar {
  background: url(asset-path("nodes copy 2.jpg"));
  background-repeat: no-repeat;
  background-size: 73%;
  background-position: 75px -7px;


  .top-bar-section li:not(.has-form) a:not(.button),
  &, li a, .name h1 a,
  &.expanded .title-area {
    height: $top-bar-height;
    line-height: $top-bar-height;
  }


  .name h1 a {
    color: $light_base_color;
    font-family: Lato;
    font-weight: 200;
    font-size: 2em;
    transition: color .2s;

    strong {
      font-weight: 400;
    }

    &:before {
      content: "";
      background-image: url(asset-path("logo.png"));
      background-size: 40px 40px;
    }

    &:hover {
      color: darken($light_base_color,10%);
    }
  }
  .top-bar-section {
    ul li,
    ul li:hover:not(.has-form) > a,
    li:not(.has-form) a:not(.button),
    .dropdown li:not(.has-form):not(.active) > a:not(.button),
    li.active:not(.has-form) a:not(.button) {
      background: transparent;
      font-family: Lato;
      text-transform: lowercase;
      font-weight: 200;
      font-size: 1em;
    }

    li:not(.has-form) a:not(.button):hover {
      background-color: rgba(86,56,170,.5);
    }

    ul li a:hover {
      text-decoration: underline;
    }
  }
}

// ====================
// HOME PAGE
// ====================

#index-buttons {
  text-align: center;

  .option {
    background-color: $node_purple;
    margin-top: 8em;
    border-radius: 4px;
    transition: background-color .2s;

    &:hover {
      background-color: darken($node_purple, 10%);
    }

    h1, h2, h3, h4, h5, h6 {
      color: white;
      font-weight: 200;
    }
  }
}

// ====================
// NET VIEW
// ====================

#container {
  height: 400px;
  margin: auto;
  margin-bottom: 15px;

  #graph-container {
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
}

// LAYER
// --------------------

.layer.row {
  margin-bottom: 40px;
}

// NODE
// --------------------
.node {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: transparent;
  margin: auto;
  border: 3px solid $light_base_color;
  box-shadow: 0 0 0 5px $node_purple;
  display: inline-block;
  vertical-align: middle;

  .small-net & {
    width: 20px;
    height: 20px;
    border: 2px solid $light_base_color;
    box-shadow: 0 0 0 2px $node_purple;
    margin-right: 5px;
  }

  &.active {
    background-color: $node_purple;
  }
}

// ====================
// NET EDIT
// ====================

.node-edit-button {
  text-align: center;

  .button.small {
    padding-top: 0.3rem;
    padding-right: .65rem;
    padding-bottom: 0.33rem;
    padding-left: 0.65rem;
    font-size: 0.8125rem;
    width: 30px;
    border-radius: 11px;
    height: 30px;
  }
}


// ====================
// INPUT SELECTION
// ====================

.input-selection {
  .input-section {
    padding: 20px 10px;
    margin-bottom: 0;
    &:hover {
      background-color: rgba(0,0,0,.05);
    }
  }

  hr {
    margin-top: 0;
  }
}
