<!DOCTYPE html>
<html lang="en">
<%= render 'layouts/header' %>

    <div class="row body-wrapper">
      <div class="columns small-12">
        <%= render 'layouts/flash' %>

        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
